<!DOCTYPE html>
<html lang="en">
  <!-- syntax.css -->
  <!-- <link rel="stylesheet" href="/assets/monokai.scss" /> -->
  {% include head.html %}

  <body>
    {% include navigation.html %}

    <main>{{ content }}</main>

    {% include footer.html %}
    <div style="text-align: center;">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- dispaly -->
      <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-8464459083453364"
          data-ad-slot="1500133058"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=APPID";
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "facebook-jssdk");
    </script>

  </body>
</html>
